<?xml version="1.0"?>
<psalm
    totallyTyped="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorBaseline="psalm-baseline.xml"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="test"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <InternalMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Mezzio\ProblemDetails\Response\CallableResponseFactoryDecorator::createResponse"/>
                <referencedMethod name="Mezzio\ProblemDetails\Response\CallableResponseFactoryDecorator::getResponseFromCallable"/>
                <referencedMethod name="Mezzio\ProblemDetails\Response\CallableResponseFactoryDecorator::__construct"/>
            </errorLevel>
        </InternalMethod>
        <DeprecatedClass>
            <errorLevel type="suppress">
                <referencedClass name="Mezzio\ProblemDetails\Response\CallableResponseFactoryDecorator"/>
            </errorLevel>
        </DeprecatedClass>
        <InternalClass>
            <errorLevel type="suppress">
                <referencedClass name="Mezzio\ProblemDetails\Response\CallableResponseFactoryDecorator"/>
            </errorLevel>
        </InternalClass>
        <UndefinedClass>
            <errorLevel type="suppress">
                <referencedClass name="Mezzio\Container\ResponseFactoryFactory"/>
            </errorLevel>
        </UndefinedClass>
        <DeprecatedTrait>
            <errorLevel type="suppress">
                <file name="src/ProblemDetailsResponseFactoryFactory.php"/>
                <file name="test/TestAsset/Psr17ResponseFactoryTraitImplementation.php"/>
            </errorLevel>
        </DeprecatedTrait>
    </issueHandlers>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
